flask==3.1.2
qiskit==1.4.3
qiskit_algorithms==0.4.0
qiskit_aer==0.17.1
qiskit_ibm_runtime==0.41.1
qiskit_machine_learning==0.8.1
pennylane==0.42.3
numpy==2.3.2
pandas==2.3.2
scipy==1.16.1
scikit-learn==1.7.1
matplotlib==3.10.6
seaborn==0.13.2
plotly==6.3.0
torch==2.8.0
pytest==8.4.2
gunicorn==23.0.0
python-dotenv==1.1.1