flask
qiskit
qiskit_algorithms
qiskit_aer
qiskit_ibm_runtime
qiskit_machine_learning==0.8.1
pennylane
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
plotly
tensorflow
torch
pytest
gunicorn
python-dotenv